:root {
    --bianco : #fffcf8;
    --azzurro-hover:  #d6e8f7;
    --azzurro-sfondo: #98bee2;
    --azzurro-sfondo-form: #d6e8f7;
    --blu-icona-hover: #185ee0;
    --blu-ombra-item: #185ee04d;
    --verde-acqua:#98e2e0;
    --rosino: #f5a9b4;
    --verdino:#bde0b9;
    --lilla:#ddb4e1;
    --albicocca:#f2a252;
    --giallino:#ffdb63;
    --corallo:#dd4d4a;
    --rosso:#B71C1A;
}