* {
	margin: 0;
	padding: 0;
	list-style: none;
	font-family: "Poppins", serif;
	font-weight: 500;
	font-style: normal;
}

.body-container {
	display: flex;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

.main-content {
	flex-grow: 1;
	margin: 80px 12%;
}

.main-container {
	background-color: var(--azzurro-sfondo);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.main-header {
	background-color: var(--bianco);
	height: 80px;
	display: flex;
	justify-content: space-between;
}

.logo-container {
	display: flex;
}

.logo-image{
	padding: 10px;
}

.logo-name{
	font-size: 28px;
	padding: 18px 10px 16px 0px;
}

.user-container {
	margin-right: 50px;
	width: 350px;
	display: flex;
	justify-content: end;
}

.user-name {
	padding: 28px 10px 30px 30px;
}

.user-image {
	border-radius: 50%;
	padding: 10px;
	width: 60px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

.main-content-impegni {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

.main-content-intestazione{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.main-content-calendario{
	flex-grow: 1;
	height: max-content;
	min-width: 690px;
	display: flex;
}

.main-content-calendario-fullcalendar{
	height: 100%;
	border-radius: 30px;
	min-width: 550px;
	flex-grow: 0.80;
	background-color: var(--bianco);
	box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
	display: flex;
	flex-direction: column;
}

.main-content-calendario-todolist{
	margin-left: 20px;
	height: 100%;
	flex-grow: 0.35;
	border-radius: 30px;
	background-color: var(--bianco);
	box-shadow: 0 0 1px 0 rgba(24, 94, 224, 0.15), 0 6px 12px 0 rgba(24, 94, 224, 0.15);
	display: flex;
	flex-direction: column;
}

.div-title{
	padding: 10px;
	font-size: 20px;
	font-weight: 600;
	color: black;
	text-align: center;
}

.hr-calendario{
	color: var(--azzurro-sfondo);
	height: 2px;
}