.sidebar-navigation {
	display: inline-block;
	min-height: 70vh;
	min-width: 80px;
	width: 80px;
	background-color: var(--bianco);
	padding-top: 30vh;
	ul {
		text-align: center;
		color: white;
		
		li {
			padding: 20.3px 0;
			cursor: pointer;
			transition: all ease-out 120ms;
			
			i {
				display: block;
				font-size: 24px;
				transition: all ease 450ms;
			}
			
			.tooltip {
				display: inline-block;
				position: absolute;
				background-color: var(--bianco);
				padding: 8px 15px;
				border-radius: 3px;
				margin-top: 0px;
				left: 90px;
				opacity: 0;
				visibility: hidden;
				font-size: 13px;
				letter-spacing: .5px;
				
				&:before {
					content: '';
					display: block;
					position: absolute;
					left: -4px;
					top: 10px;
					transform: rotate(45deg);
					width: 10px;
					height: 10px;
					background-color: inherit;
				}
			}
			
			&:hover {
				background-color:var(--bianco);
				
				.tooltip {
					visibility: visible;
					color:black;
					opacity: 1;
				}
			}
			
			&.active {
				background-color: var(--azzurro-hover);
			}			
		}
	}
}